body {
    background-color:#ffffff;
    text-align: center;
    color:#fff;
    padding-top:10em;
  }
  
  * { color:#fff; text-decoration: none;}
/* color, style, height of typewriter */ 

/* _____tem um espaço aqui...______ */
.highlight {
    color: rgb(0, 225, 255);
    font-weight: normal; 
    padding: 4px; 
}
